include AUTHORS
include COPYING
include INSTALL
include README
include TODO
include CHANGES
include setup.py
include crunchyfrog
include MANIFEST.in
recursive-include cf *.py *.cfg *.in
recursive-include data *
recursive-include docs *
recursive-include extras *.py
recursive-include po *
recursive-include utils *.py
prune *.pyc
prune .gitignore
