include AUTHORS
include COPYING
include INSTALL
include README
include TODO
include CHANGES
include Makefile
include setup.py
include crunchyfrog
recursive-include cf *.py *.cfg *.in
recursive-include data *
recursive-include debian *
recursive-include docs *
recursive-include extras *.py
recursive-include po *
recursive-include utils *.py
prune *.pyc
