[Desktop Entry]
Version=0.4.0
Name=CrunchyFrog
Comment=SQL Client and Schema Browser
Exec=crunchyfrog %U
StartupNotify=true
StartupWMClass=crunchyfrog
Icon=crunchyfrog
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;Database;
MimeType=text/x-sql
